nav { 
    div{ 
        .titulo-sevenland {
            color: nth($colores, 5);
            font-family: 'Playfair Display', serif;
        }
        //donde va el hover

        div { 
            ul { 
                li { 
                    .nav-link{
                        color: nth($colores, 5);
                        font-weight: 900;
                    }

                    ul{ 
                        li {
                            .dropdown-item {
                                &:active {
                                    background-color: nth($colores, 3);
                                }
                                
                            }
                        }
                    }
                }
            }
        }
    }
}